face_dataset/
myenv/
.env
register/
*test*.py
*.h5
*.tflite
*__pycache__/
src/configs/*.json
configs/
flutter_client/
repo*/
*.docx
src/server/models/pretrained_weights/Facenet_pytorch/*
src/server/models/Facenet_pytorch/examples/
src/server/models/Facenet_pytorch/data/
*.rar
*.json